.card-product-img1 {
    background-image: url(../img/box_img/box1_image.jpg);
}

.card-product-img2 {
    background-image: url(../img/box_img/box2_image.jpg);
}

.card-product-img3 {
    background-image: url(../img/box_img/box3_image.jpg);
}

.card-product-img4 {
    background-image: url(../img/box_img/box4_image.jpg);
}